@import URL("https://zvg10313.github.io/RemNote/practice-direction.css");
@import URL("https://zvg10313.github.io/RemNote/rem-type.css");
@import URL("https://zvg10313.github.io/RemNote/card-type.css");
@import URL("https://zvg10313.github.io/RemNote/text-style.css");